.nav-item {
    justify-content: center;
    align-items: center;
    margin-left:20px;
}

.left-margin {
    margin-left: 34%;
}

.login-margin {
    margin-left: 34%;
}


.hello {
    margin-top: 25vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text-bold {
    font-weight: bold;
}


